@using System.Data
@model System.Data.DataTable

@{
     //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
    Wom.Models.dbContext db = new Wom.Models.dbContext();
    var maincategory = db.MainCategoryModels.Take(12).OrderByDescending(x => x.MainCategoryID).ToList();

    var slider = db.SliderModels.Where(x => x.IsDisplay == true).ToList();
    int i = 0; int j = 0; string act = "";

    string indicator = "active";
    string mcindicator = "active";
    int indicatorcount = 0;
}
<link href="~/css/product-slider.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    .body {
        @@font-face {
            font-family: 'fontawesome-webfont';
            src: url('../../css/fonts/icofont.woff2') format('woff2');
        }
    }
   
</style>
<section>
    <div class="row mt-5 mt-5">
        <div class="col-md-12">
            <div class="text-center">
                <img src="~/UploadFiles/Common/New Logo.png" class="img-fluid" />
                <h1 class="mt-3">This site is under construction</h1>
                <h2>Ankita Trackways Pvt. Ltd.</h2>
            </div> 
        </div>
    </div>
</section>


<!-- Script for Item slider end-->
<script type="text/javascript">
    $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 3; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>



